# Python cache
__pycache__/
*.pyc

# Virtual environments
venv/
.env/

# Data (ignore CSV/TXT everywhere)
*.csv
*.txt

# BUT allow dataset CSVs
!Dataset/
!Dataset/*.csv

# Models
*.pt
*.pth

# OS files
.DS_Store

